<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills" style="float:right">
			<li> <a routerLink="localjson">Local JSON</a></li>
			<li> <a routerLink="externaljson">External JSON</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Mobile No</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let x of user">
					<td> {{x.name}} </td>
					<td> {{x.mobile}} </td>
					<td> {{x.city}} </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6"> <router-outlet></router-outlet> </div>
</div>

