/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap3/dist/css/bootstrap.css");

.footer
{
    min-height: 150px;
    background:darkblue;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;   
}

body 
{
padding-top: 60px;

}

.minheight
    {
        min-height: 500px;

    }